@font-face {
    font-family: "regular";
    src: url("./app/assets/Fuentes/BwGlennSans-Regular.otf");
    font-weight: regular;
  }
  @font-face {
    font-family: "bold";
    src: url("./app/assets/Fuentes/BwGlennSans-Bold.otf");
    font-weight: bold;
  }
  @font-face {
    font-family: "Hairline";
    src: url("./app/assets/Fuentes/BwGlennSans-Hairline.otf");
    font-weight: Hairline;
  }
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "regular";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "bold";
  }